<p style="text-align:center">
    <a href="https://skills.network" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo">
    </a>
</p>

# **Data Wrangling Lab**

Estimated time needed: **45 to 60** minutes

In this assignment you will be performing data wrangling.

## Objectives

In this lab you will perform the following:

-   Identify duplicate values in the dataset.

-   Remove duplicate values from the dataset.

-   Identify missing values in the dataset.

-   Impute the missing values in the dataset.

-   Normalize data in the dataset.

<hr>

## Hands on Lab

Import pandas module.

In [1]:
import pandas as pd

<ipython-input-1-7dd3504c366f>:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

Load the dataset into a dataframe.

<h2>Read Data</h2>
<p>
We utilize the <code>pandas.read_csv()</code> function for reading CSV files. However, in this version of the lab, which operates on JupyterLite, the dataset needs to be downloaded to the interface using the provided code below.
</p>

The functions below will download the dataset into your browser:

In [2]:
from pyodide.http import pyfetch

async def download(url, filename):
    response = await pyfetch(url)
    if response.status == 200:
        with open(filename, "wb") as f:
            f.write(await response.bytes())

In [3]:
file_path = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DA0321EN-SkillsNetwork/labs/Capstone_edX/Module%201/survey_results_public_2020.csv"

To obtain the dataset, utilize the download() function as defined above:

In [4]:
await download(file_path, "m1_survey_data.csv")
file_name="m1_survey_data.csv"

Utilize the Pandas method read_csv() to load the data into a dataframe.

In [6]:
df = pd.read_csv(file_name)
df.shape

(64461, 61)

> Note: This version of the lab is working on JupyterLite, which requires the dataset to be downloaded to the interface.While working on the downloaded version of this notebook on their local machines(Jupyter Anaconda), the learners can simply **skip the steps above,** and simply use the URL directly in the `pandas.read_csv()` function. You can uncomment and run the statements in the cell below.

In [ ]:
#df = pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DA0321EN-SkillsNetwork/labs/Capstone_edX/Module%201/survey_results_public_2020.csv")

## Finding duplicates

In this section you will identify duplicate values in the dataset.

 Find how many duplicate rows exist in the dataframe.

In [7]:
# your code goes here
df.duplicated().sum()

0

In [8]:
sum(df['Respondent'].duplicated())

0

## Removing duplicates

Remove the duplicate rows from the dataframe.

In [9]:
# your code goes here
df = df.drop_duplicates()

Verify if duplicates were actually dropped.

In [10]:
# your code goes here
df.duplicated().sum()

0

## Finding Missing values

Find the missing values for all columns.

In [11]:
# your code goes here
pd.set_option('display.max_rows', None)
df[df.columns[df.isnull().sum()>0]].isnull().sum()

MainBranch                        299
Hobbyist                           45
Age                             19015
Age1stCode                       6561
CompFreq                        24392
CompTotal                       29635
ConvertedComp                   29705
Country                           389
CurrencyDesc                    18989
CurrencySymbol                  18989
DatabaseDesireNextYear          20391
DatabaseWorkedWith              14924
DevType                         15091
EdLevel                          7030
Employment                        607
Ethnicity                       18513
Gender                          13904
JobFactors                      15112
JobSat                          19267
JobSeek                         12734
LanguageDesireNextYear          10348
LanguageWorkedWith               7083
MiscTechDesireNextYear          22082
MiscTechWorkedWith              24147
NEWCollabToolsDesireNextYear    17174
NEWCollabToolsWorkedWith        11578
NEWDevOps                       21775
NEWDevOpsImpt                   22729
NEWEdImpt                       15996
NEWJobHunt                      22175
NEWJobHuntResearch              23439
NEWLearn                         8305
NEWOffTopic                     13657
NEWOnboardGood                  21838
NEWOtherComms                    7256
NEWOvertime                     21230
NEWPurchaseResearch             27140
NEWPurpleLink                    9658
NEWSOSites                       6186
NEWStuck                         9478
OpSys                            8233
OrgSize                         20127
PlatformDesireNextYear          13856
PlatformWorkedWith              10618
PurchaseWhat                    25097
Sexuality                       20469
SOAccount                        7656
SOComm                           7985
SOPartFreq                      17669
SOVisitFreq                      7491
SurveyEase                      12659
SurveyLength                    12760
Trans                           15116
UndergradMajor                  13466
WebframeDesireNextYear          24437
WebframeWorkedWith              22182
WelcomeChange                   11778
WorkWeekHrs                     23310
YearsCode                        6777
YearsCodePro                    18112
dtype: int64

## Imputing missing values

Find the  value counts for the column Age.

In [12]:
# your code goes here
df['Age'].isnull().value_counts()

Age
False    45446
True     19015
Name: count, dtype: int64

Find the median for the column Age

In [13]:
#your code goes here
df['Age'].median()

29.0

Impute the median value to Age column

In [15]:
# your code goes here
df['Age'].fillna(df['Age'].median(), inplace=True)
df['Age'].isnull().value_counts()

Age
False    64461
Name: count, dtype: int64

Identify the value that is most frequent (majority) in the Country column.

In [16]:
# your code goes here
df['Country'].mode()

0    United States
Name: Country, dtype: object

Drop all the missing values from the dataset

In [17]:
# your code goes here
df1 = df.dropna()
df1.shape

(4387, 61)

## Normalizing data

There are two columns in the dataset that talk about compensation.

One is "CompFreq". This column shows how often a developer is paid (Yearly, Monthly, Weekly).

The other is "CompTotal". This column talks about how much the developer is paid per Year, Month, or Week depending upon his/her "CompFreq". 

This makes it difficult to compare the total compensation of the developers.

In this section you will create a new column called 'NormalizedAnnualCompensation' which contains the 'Annual Compensation' irrespective of the 'CompFreq'.

Once this column is ready, it makes comparison of salaries easy.

<hr>

List out the various categories in the column 'CompFreq'

In [22]:
# your code goes here
df1['CompFreq'].unique()

array(['Yearly', 'Monthly', 'Weekly'], dtype=object)

Create a new column named 'NormalizedAnnualCompensation'. Use the hint given below if needed.

Double click to see the **Hint**.

<!--

Use the below logic to arrive at the values for the column NormalizedAnnualCompensation.

If the CompFreq is Yearly then use the exising value in CompTotal
If the CompFreq is Monthly then multiply the value in CompTotal with 12 (months in an year)
If the CompFreq is Weekly then multiply the value in CompTotal with 52 (weeks in an year)

-->

In [29]:
# your code goes here
total = []

for i in range(len(df1)):
    
    if df1['CompFreq'].iloc[i] == 'Weekly':
        total.append(df1['CompTotal'].iloc[i]*52)
    elif df1['CompFreq'].iloc[i] == 'Monthly':
        total.append(df1['CompTotal'].iloc[i]*12)
    else:
        total.append(df1['CompTotal'].iloc[i]*1)

df1['NormalizedAnnualCompensation'] = total
df1[df1['CompFreq'] != 'Yearly'][['CompFreq','CompTotal','NormalizedAnnualCompensation']].head()

<ipython-input-29-cc271869cae4>:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['NormalizedAnnualCompensation'] = total

    CompFreq  CompTotal  NormalizedAnnualCompensation
32   Monthly     4900.0                       58800.0
94   Monthly    10000.0                      120000.0
121   Weekly   120000.0                     6240000.0
149  Monthly    20000.0                      240000.0
159  Monthly     2800.0                       33600.0

In [30]:
df1['NormalizedAnnualCompensation'].median()

108000.0

## Authors

Ramesh Sannareddy

### Other Contributors

Rav Ahuja

## Change Log

| Date (YYYY-MM-DD) | Version | Changed By        | Change Description                 |
| ----------------- | ------- | ----------------- | ---------------------------------- |
| 2020-10-17        | 0.1     | Ramesh Sannareddy | Created initial version of the lab |

 Copyright © 2020 IBM Corporation. This notebook and its source code are released under the terms of the [MIT License](https://cognitiveclass.ai/mit-license?cm_mmc=Email_Newsletter-_-Developer_Ed%2BTech-_-WW_WW-_-SkillsNetwork-Courses-IBM-DA0321EN-SkillsNetwork-21426264&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ&cm_mmc=Email_Newsletter-_-Developer_Ed%2BTech-_-WW_WW-_-SkillsNetwork-Courses-IBM-DA0321EN-SkillsNetwork-21426264&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ&cm_mmc=Email_Newsletter-_-Developer_Ed%2BTech-_-WW_WW-_-SkillsNetwork-Courses-IBM-DA0321EN-SkillsNetwork-21426264&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ&cm_mmc=Email_Newsletter-_-Developer_Ed%2BTech-_-WW_WW-_-SkillsNetwork-Courses-IBM-DA0321EN-SkillsNetwork-21426264&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ&cm_mmc=Email_Newsletter-_-Developer_Ed%2BTech-_-WW_WW-_-SkillsNetwork-Courses-IBM-DA0321EN-SkillsNetwork-21426264&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ&cm_mmc=Email_Newsletter-_-Developer_Ed%2BTech-_-WW_WW-_-SkillsNetwork-Courses-IBM-DA0321EN-SkillsNetwork-21426264&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ).